* {
    margin: 0;
    padding: 0;
}

.bt-menu {
    display: block;
    padding: 20px;
    color: rgb(49, 47, 47);
    font-size: 30px;
    font-weight: bold;
    

}
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template:     "hijo-1      hijo-3    hijo-2"/
                           100px       3fr      100px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(243, 247, 8);
    text-align: center;

}
 .hijo-1 {
    /* display: block; */
    padding: 20px;
    grid-area: hijo-1;
   
}
.hijo-2{
    grid-area: hijo-2;
    padding: 20px;
}
.hijo-3{
    grid-area: hijo-3; 
}
.bt-menui {
    border-radius: 20px;
    border: none;
    margin: 15px 15%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    outline: none;


}
/* .hijo .hijo-1 {
    /* margin-left: 20%;
    background-color: skyblue; */

/* } */
/* .main-content .hijo-2 {
    grid-row-start:1 ;
    grid-row-end: 6;

}
     */
label {
    font-size: 27px;

}
