/*color llamado por su nombre... */
p {
    font-size: 2em;
}
.color-naranja {
    color: orange;
}
.color-verde {
    color: rgb(0,255,0);
}
.color-gris {
    color: #646464;
}
.color-avianca {
    color: rgb(222,1,8);
}