* {
    margin: 0;
    padding: 0;
}
.nav-horizontal {
    background-color: wheat;
    display:block;
}
.ul-horizontal {
    list-style: none;
    font-size: 1.6em;
}
a {
    text-decoration: none;
    color: rgb(99, 89, 72);
}
li:hover {
    background-color: rgb(201, 182, 149);
}
li{
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}
.nav-vertical {
    position: absolute;
    background-color: white;
    height: 100%;
    border-right: 1px solid rgb(73, 67, 67);
    width: 300px;
    margin: 40px 40px 40px 40px;
}
.li-vertical{
    display: block;
    font-size: 1.6em;
    margin-top: 15px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: rgb(206, 182, 182);
    border-radius: 10px;
}
.a-vertical {
    color: black;
    margin-left: 50px;
}
.li-vertical:hover{
    background-color: rgb(226, 226, 183);
}