* {
    margin: 0;
    padding: 0;
}
.contenedor {
    background-color: rgb(102, 100, 100);
    position: absolute;
    width: 200px;
    height: 150%;
    margin-left: 10px;
}
.main-content {
    margin-left: 300px;
    font-size: 50px;
    margin-top: 0%;
}
li {
    margin-top: 10px;
    margin-left: 15px;
    list-style: none;
}

a {
    color: cornsilk;
    font-size: 24px;
    text-decoration: none;
    
    

}