* {
    margin: 0;
    padding: 0;
    
}
.encav{
    border: 1px solid black;
    width: 100%;
    background-color: rgb(255, 98, 0);
    height: 80px;
}
.inp{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    outline: none  ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.busc{
    text-align: center;
    padding: 20px;
    
    
}
nav {
    position: fixed;
    
    height: 100%;
    width: 300px;
    top: 10%;
    border-right: 1px solid gray;
}
ul{
    list-style: none;
    position: absolute;
    top: 80px;
    left: 5px;
    width: 95%;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: block;
    border-radius: 5px;
    padding: 17px 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    background: rgb(182, 175, 175);
}
.maint-content{
    margin: 40px 40px 40px 320px;
    text-align: justify;
}
p {
    font-size: 1.5em;
    line-height: 1.2em;
}
.fas, .fab {
    width: 30px;
    font-size: 1.2em;
}
i {
    padding-right: 20px;
    color: black
}
.linea-item {
    border-top: 1px solid gray;
    border-radius: 0;
}
.ul::-webkit-scrollbar{
    width: 7px;
    background-color: black;
}
.form{
    border-radius: 15px;
    
    width: 1000px;
    height: 500px;
    margin-right: 50px;
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    /* display: grid;
    grid-template: ""; */

}
h2{
    text-align: center;
    /* grid-area: titulo; */
    
}
p{
    font-size: 20px;
}
.in{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 25%;
    outline: none;
}



