/* .transform1 {
    width: 150px;
    height: 150px;
    background-color: aqua;
    
    transition: transform 1s;
}
.transform2 {
    width: 50px;
    height: 50px;
    background-color: bisque;
    transition: transform 1s;
}
.transform3 {
    width: 50px;
    height: 50px;
    background-color: rgb(250, 143, 143);
    transition: width 1s, height 1s, transform 1s;



}

.transform1:hover {
    transform: translate(100px, 0);
    cursor: pointer;
    
}
.transform2:hover {
    transform: scale(5,2);
    cursor: pointer;
}
.transform3:hover {
    transition: width 1s, height 1s, transform 1s;
    transform: translate(1%, -1%);
    width: 150px;
    height: 150px;
} */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background:url(../img/ome.jpg) no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
}
/* nav{
    width: 100%;
    top: 0;
    height: 100%;
} */
.Contenedor {
    background-color: white;
    border: 1px solid gainsboro;
    height: 70px;
    display: grid;
    grid-template:"img   buscador cuenta" /
                  1fr       2fr      60px;
}
.img{
    grid-area: img;
    margin-top: 5%;
    margin-left: 5%;
}
.bus{
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    width: 60%;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 17px;
    outline: none;
    margin-left: 5%;
    
}
.buscador{
    grid-area: buscador;

    
}

.cuenta{
    grid-area: cuenta;
    font-size: 23px;
    margin-top: 40%;
    cursor: pointer;
    color: rgb(155, 154, 154);
    
}
.transform4{
    
    border: 1px solid black;
    
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 0px;
    height: 0px;
    transition: transform 20ms, width 600ms, height 600ms; 
    

    /* display: none; */
}
/* .raya{
    border: 8px;
    display: none;
} */
.transform5{
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    
    transition: width  700ms,  height  700ms;
    width: 350px;
    height: 80%;
    background-color: whitesmoke;
}

.botonCerrar {
    display: none;
    grid-area: boton;
   
    
    
}
.botonCerrarVisible {
    /* display: block; */
    cursor: pointer;
    /* text-align: center; */
    color: white;
    background-color: rgb(9, 106, 252);
    border-radius: top 15px;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    
}
#botonForm{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 15px;
}

.div2{
   
    border: 1px solid rgb(215, 215, 215);
    margin: auto 5px;
    
   
    
   
}
.styleDesc{
   text-align: justify;
   padding: auto;
   display: none;
}
.contenedorx{
    background-color: rgb(9, 106, 252);
    
    display: grid;
    grid-template: "menuu   img    boton" /
                     1fr   1fr    1fr;
                     
    width: 100%;
    
}
.imgOpe{
    grid-area: img;
    border-radius: 30px;
    margin-left: 25%;
    margin-top: 5%;
    
    
    
    
}
.bar{
    grid-area: menuu ;
    padding: 20px;
    font-size: 20px;
    color: white;
    display: none;
}
.imgGrande{
   width: 100%;
   height: 100%;

}
.avatar-minimize-ana--default {
    background-image: url(https://sodclavcstorageprd.z20.web.core.windows.net/assets/images/avatar-ana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
    border-radius: 0;
}
.avatar-minimize-ana {
    height: 60px;
    width: 120px;
    border-radius: 50%;
    bottom: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 99999991;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}
@media only screen and (max-width:850px) {
    .transform5{
        width: 100%;
        /* top: 0px; */
        right: 0px;
        bottom: 0px;
         /* bottom: 0px; */
        height: 91.4%;
        
    }
    .imgOpe{
        margin-left: 50%;
    }
    .botonCerrarVisible{
        margin-left: 50%;

    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    background:white;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    left: -250px;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-right: 1px solid rgba(51, 51, 51, 0.103);
}

.name__page{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: rgb(48, 48, 48);
}

.name__page h4 span {
    font-size: 1.2em;
}

nav .menu .submenu {
    padding: 15px 0 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

#selected:before{
    content: '';
    width: 4px;
    height: 230%;
    background: rgb(48, 48, 48);
    position: absolute;
    top: -65%;
    left: -25px;
    background-color: rgb(48, 48, 48);
}

nav .menu .submenu:hover {
    background:rgba(0,114,206,.1);
}

nav .menu .submenu a {
    color: rgb(48, 48, 48);
    position: relative;
}

nav .menu .submenu a i {
    width: 20px;
    margin-right: 20px;
}

nav::-webkit-scrollbar {
    display: none;
}

nav::-webkit-scrollbar-thumb {
    display: none;
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Script */

.nav_oculto {
    left: 0;
}

.contenido_principal_desplegado {
    margin-left: 250px;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-family: 'Open Sans', sans-serif;
}

.contenedor-barra-busqueda-movil-out {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.125rem;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 0.1px solid rgba(0,0,0,.1);
    padding: 0 5%;
    background-color: white;
}

.img-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    
}

/* .img-logo .menu-movil {
    font-size: 1.5em;
    margin-right: 30px;
    cursor: pointer;
    padding: 30px;
    border-radius: 50%;
    transition: all 300ms;
} */

.img-logo .menu-movil:hover {
    background: rgba(0,0,0,.1);
}

.img-logo-movil {
    display: none;
    
}

.contenedor-barra-busqueda {
    display: flex;
    align-items: center;
    
}

.contenedor-barra-busqueda i {
    display: none;
}

.barra-busqueda {
    width: 35vw;
    display: flex;
    border: 0.0625rem solid rgba(0,0,0,.1);
    padding: 0;
    height: 40px;
    transition: box-shadow 300ms;
    
}

.barra-busqueda:hover {
    transition-duration: 300px;
    transform: translate(3px);
    box-shadow: 3px 3px 3px gray;
  
}

.barra-busqueda input {
    outline:none;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
    font-size: 1em;
    font-weight: 500;
}

.barra-busqueda i {
    display: flex;
    align-items: center;
    padding: 5px 8px 5px 5px;
    cursor: pointer;
    color: rgba(0,0,0,.7);
}

.lista {
    display: flex;
    align-items: center;
}

.lista ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 40px;
}

.lista ul li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 13px;
    cursor: pointer;
    color: rgba(0,0,0,.8);
    transition: all 3ms;
}



.lista ul li i {
    margin-right: 8px;
}

.lista ul li h2 {
    font-size: 1.1em;
    font-weight: 400;
}

/* .lista ul li .contador-carrito {
    padding: 8px;
    background: rgb(216, 0, 0);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.principal {
    width: 100vmax;
}

.movil {
    display: none;
}

/* -------CHAT BOX------------- */

/* .chat-box-disable-out {
    background-image: url(../img/homecenter-avatar-ana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
    border-radius: 0;
    height: 60px;
    width: 120px;
    bottom: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 999;
    opacity: 1;
} */

/* .chat-box-disable-in {
    display: none;
}

.chat-box-out {
    height: 1px;
    overflow: hidden;
    width: 1px;
    bottom: 1px;
    cursor: pointer;
    position: fixed;
    right: 1px;
    opacity: 1;
    transition: width cubic-bezier(0.175, 0.885, 0.320, 1.275) .5s, height cubic-bezier(0.175, 0.885, 0.320, 1.275) .5s;
}

.chat-box-in {
    background-color: #f4f3f3;
    bottom: 0;
    box-shadow: -1px 2px 7px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    height: 90%;
    overflow: hidden;
    position: fixed;
    right: 20px;
    width: 375px;
    transition: width cubic-bezier(0.175, 0.885, 0.320, 1.275) .5s, height cubic-bezier(0.175, 0.885, 0.320, 1.275) .5s;
} */

.all-content-in {
    display: block;
}

/* .header-box-in {
    height: 60px;
    background: #0072ce;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
} */

.header-box-in div {
    display: flex;
    align-self: center;
    flex-direction: column;
    color: white;
    font-weight: 100;
    cursor: pointer;
}

.header-box-in div i {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.header-box-in div p {
    font-size: .8em;
}

.img-avatar {
    width: 50px;
    height: 50px;
}

.img-avatar img {
    border-radius: 50%;
}

.footer {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) -1px 2px 7px 0px;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.footer input {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    padding: 10px;
}

.footer input::placeholder {
    font-style: italic;
}

.footer div {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer div img {
    border-radius: 50%;
    width: 70%;
    height: 70%;
    cursor: pointer;
}



/* -------CHAT BOX------------- */

@media screen and (max-width: 850px) {

    .contenedor-barra-busqueda-movil {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 0.1px solid rgba(0,0,0,.1);
        padding: 0 4%;
        transition: width ease-in-out .5s;
    }

    .barra-busqueda-movil {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
   

    .barra-busqueda-movil i {
        font-size: 1.2em;
        cursor: pointer;
        padding: 10px;
    }

    .barra-busqueda-movil input{
        outline:none;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding-left: 25px;
        font-size: 1em;
        font-weight: 500;
    }

    .contenedor-barra-busqueda-movil-out {
        display: block;
        margin: auto;
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    header {
        height: 3.5rem;
        padding: 0 0.937rem;
    }

    .img-logo-web {
        display: none;
        height: 100px;
    }

    .img-logo .menu-movil {
        display: flex;
        align-items: center;
        font-size: 1.7em;
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 50%;
    }

    .menu-movil:hover {
        background: rgba(0,0,0,.1);
    }

    .img-logo-movil {
        display: flex;
        align-items: center;
        width: 60px;
        height: 40px;
        padding: 1px 6px;
        margin-left: 10px;
        cursor: pointer;
    }

    .contenedor-barra-busqueda {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contenedor-barra-busqueda i {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 3ms;
        border-radius: 20px;
    }

    .contenedor-barra-busqueda i:hover {
        background: rgba(0,0,0,.1);
    }

    .contenedor-barra-busqueda i:active {
        background: rgba(0,0,0,.2);
    }

    .barra-busqueda {
        display: none;
    }

    li {
        margin-right: 10px;
    }

    li i {
        font-size: 1.3em;
    }

    li h2 {
        display: none;
    }
    
    .principal {
        display: none;
    }

    .movil {
        display: block;
        width: 100%;
    }

    .chat-box-in {
        height: 100%;
        width: 100%;
        right: 0;
        transition: width ease-in-out .5s, height ease-in-out .5s;
    }
}
