.container-1 {
    width: 200px;
    height: 200px;
    background-color: rgb(226, 35, 35);
    transition-property: width;
    transition-duration: 1500ms;
    margin-bottom: 30px;
}
.container-1:hover {
    width: 300px;
}
.container-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(226, 35, 35);
    transition: background-color 2000ms;
    margin-bottom: 30px;
}
.container-2:hover {
     background-color: antiquewhite;
}
.container-3 {
    width: 200px;
    height: 200px;
    background-color: rgb(226, 35, 35);
    transition-duration: 1500ms;
    transition: with 2000ms background-color 2000ms;
    margin-bottom: 30px;
}
.container-3:hover {
    background-color: antiquewhite;
    width: 300px;
}